Repository loosolab/PEAKQC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - pip install .
  - pytest --cov-report=term --cov=./peakqc . --junitxml=pytest.xml --cov-report html:htmlcov --html=pytest.html --durations=0
  artifacts:
    when: always
    paths:
  ...

revert wrong branch
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Add new file
  LICENSE
Due: none

Add new file
  peakqc/__init__.py
Due: lint, test coverage

Add pyproject.toml
  pyproject.toml
Due: none

Update __init__.py to fit linting
  peakqc/__init__.py
Due: lint, test coverage

Update __init__.py
  peakqc/__init__.py
Due: lint, test coverage

solved issue // NOT TESTED YET
  peakqc/fld_scoring.py
  peakqc/general.py
Due: lint, test coverage

solved issue
  peakqc/fld_scoring.py
  peakqc/general.py
Due: lint, test coverage

linting
  peakqc/fld_scoring.py
  peakqc/general.py
Due: lint, test coverage

fixed test due to combined input
  tests/test_fld_scoring.py
Due: lint, test coverage

added ability to return distributions for debugging
  peakqc/fld_scoring.py
  tests/test_fld_scoring.py
Due: lint, test coverage

fixed beartype return issue
  peakqc/fld_scoring.py
Due: lint, test coverage

fixed typing
  peakqc/fld_scoring.py
Due: lint, test coverage

fixed tests
  peakqc/fld_scoring.py
  tests/test_fld_scoring.py
Due: lint, test coverage

where are these changes
  peakqc/fld_scoring.py
  tests/test_fld_scoring.py
Due: lint, test coverage

updated cicd
  .gitlab-ci.yml
Due: none

fixed docstring for linting job
  peakqc/fld_scoring.py
Due: lint, test coverage

Update _version.py
  peakqc/_version.py
Due: build-job, lint, test coverage

Trigger build job. Functionally nothing changed.
  setup.py
Due: build-job, lint

test coverage job should use dynamic image tag
  .gitlab-ci.yml
Due: none

bugfix and depreaction fix
  experimental/exp_fld_scoring.ipynb
  experimental/experimental_counting.ipynb
  peakqc/fld_scoring.py
  peakqc/insertsizes.py
Due: lint, test coverage

fixed linting and coverage
  peakqc/fld_scoring.py
  tests/test_insertsizes.py
Due: lint, test coverage

linting
  peakqc/fld_scoring.py
Due: lint, test coverage

added colormap parameter to density plot
  experimental/sandbox_upsetplot.py
  peakqc/fld_scoring.py
Due: lint, test coverage

added handle existing columns
  peakqc/fld_scoring.py
Due: lint, test coverage

docstring lint
  peakqc/fld_scoring.py
  peakqc/general.py
Due: lint, test coverage

fixed testing
  paper/preprocessing/package/tests/__init__.py
  paper/preprocessing/package/tests/test_bam_utils.py
Due: none

Edit _version.py
  peakqc/_version.py
Due: build-job, lint, test coverage

Add Monte Carlo downsampling for bulk-ATAC samples using parallel multinomial sampling
  peakqc/fld_scoring.py
Due: lint, test coverage

Extended add_fld_metrics example with Monte Carlo downsampling args
  README.md
Due: none

added dependencies for MC sampling
  peakqc_env.yml
Due: build-job

Revert: unnecessary breaking change.
  peakqc_env.yml
Due: build-job

Add test and fix lint errors
  peakqc/fld_scoring.py
  tests/test_fld_scoring.py
Due: lint, test coverage

Path conditions:
  build-job: any of: setup.py, peakqc_env.yml, Dockerfile, peakqc/_version.py
  lint: any of: setup.py, tests/*.py, peakqc/*.py
  test coverage: any of: tests/*.py, peakqc/*.py
