Repository loosolab/PEAKQC: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job, lint, test coverage

build-job:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
    alias: docker
  before_script:
  - echo $BUILD_VERSION
  - apk update && apk add git
  - apt-get update -qq && apt-get install -y -qq git
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
  ...

lint:
  image:
    name: python:3.10
    entrypoint:
    - /bin/bash
    - -c
    - ln -snf /bin/bash /bin/sh && /bin/bash -c $0
  inherit:
    default: false
  stage: test
  tags:
  - coverage
  script:
  - python --version
  - pip install flake8
  - pip install pydoclint>=0.1.7
  - pip install flake8-docstrings
  ...

test coverage:
  stage: test
  image: $CI_REGISTRY_IMAGE:$BUILD_VERSION
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - pip install .
  - pytest --cov-report=term --cov=./peakqc . --junitxml=pytest.xml --cov-report html:htmlcov --html=pytest.html --durations=0
  artifacts:
    when: always
    paths:
  ...

Edit README.md
  README.md
Due: none

Edit fld_scoring.py
  peakqc/fld_scoring.py
Due: lint, test coverage

Edit _version.py
  peakqc/_version.py
Due: build-job, lint, test coverage

Edit .gitlab-ci.yml pinned docker:dind to satisfy runner requirements
  .gitlab-ci.yml
Due: none

trigger build job
  setup.py
Due: build-job, lint

Edit peakqc_env.yml removed default channel
  peakqc_env.yml
Due: build-job

Edit setup.py trigger build job
  setup.py
Due: build-job, lint

Edit .gitlab-ci.yml coverage tag not there any more. Using sctoolbox now.
  .gitlab-ci.yml
Due: none

pyproject.toml init
  .gitlab-ci.yml
  Dockerfile
  pyproject.toml
  setup.py
  src/peakqc/__init__.py
  src/peakqc/_version.py
  src/peakqc/fld_scoring.py
  src/peakqc/general.py
  src/peakqc/insertsizes.py
Due: build-job, lint

fixed bugs
  pyproject.toml
  src/peakqc/__init__.py
Due: none

fixed bugs
  Dockerfile
  pyproject.toml
  src/peakqc/__init__.py
Due: build-job

linting
  src/peakqc/__init__.py
Due: none

Added automated PyPi release
  .gitlab-ci.yml
  .gitlab/new_release_template.md
  CHANGES.md
  pyproject.toml
  scripts/collect_changes.py
Due: none

added deploy stage again
  .gitlab-ci.yml
Due: none

bugfix
  .gitlab-ci.yml
Due: none

copy error hotfix
  pyproject.toml
  src/PEAKQC.egg-info/PKG-INFO
  src/PEAKQC.egg-info/SOURCES.txt
  src/PEAKQC.egg-info/dependency_links.txt
  src/PEAKQC.egg-info/requires.txt
  src/PEAKQC.egg-info/top_level.txt
Due: none

updated version
  src/peakqc/_version.py
Due: none

updated .gitignore
  .gitignore
Due: none

removed PEAKQC.egg-info
  src/PEAKQC.egg-info/PKG-INFO
  src/PEAKQC.egg-info/SOURCES.txt
  src/PEAKQC.egg-info/dependency_links.txt
  src/PEAKQC.egg-info/requires.txt
  src/PEAKQC.egg-info/top_level.txt
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Edit _version.py
  src/peakqc/_version.py
Due: none

actual version
  CHANGES.md
  src/peakqc/_version.py
Due: none

Hotfix PyPi automatic upload
  .gitlab-ci.yml
  CHANGES.md
  src/peakqc/_version.py
Due: none

Another Hotfix
  CHANGES.md
  scripts/collect_changes.py
  src/peakqc/_version.py
Due: none

cleared package registry
  CHANGES.md
  src/peakqc/_version.py
Due: none

Add dtype={'barcode': str} to pandas read_csv to parse int barcodes as chr
  src/peakqc/insertsizes.py
Due: none

parse int barcodes as str
  tests/test_insertsizes.py
Due: lint, test coverage

add test for parsing int barcodes as chr
  tests/data/insertsizes_related/int_barcodes_fragments.bed
  tests/test_insertsizes.py
Due: lint, test coverage

Edit CHANGES.md
  CHANGES.md
Due: none

Drop support for Python 3.14
  pyproject.toml
Due: none

updated gitignore
  .gitignore
Due: none

updated README by adding paper
  README.md
Due: none

updated CHANGES and increased version
  CHANGES.md
  src/peakqc/_version.py
Due: none

Path conditions:
  build-job: any of: setup.py, peakqc_env.yml, Dockerfile, peakqc/_version.py
  lint: any of: setup.py, tests/*.py, peakqc/*.py
  test coverage: any of: tests/*.py, peakqc/*.py
